/************ Reset ***************/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  height: auto;
}

body {
  background-color: #e8e8d7;
}

/************** Burgermenu *********/
.burger {
  display: block;
  cursor: pointer;
  position: fixed;
  top: 15px;
  right: 20px;
  z-index: 1000;
}

/****** styling af striber ****/
.bar {
  width: 30px;
  height: 4px;
  margin: 7px 0;
  background-color: #374375;
}

/******* skjult burgermenu overlay **********/
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 99;
  left: 0;
  top: 0;
  background-color: #e8e8d7;
  overflow-x: hidden;
  transition: 0.4s;
}

/***** indhold i overlay menuen ******/
.overlay-content {
  position: absolute;
  top: 100px;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

/***** styling af links inde i overlay ******/
.overlay a {
  padding: 10px;
  text-decoration: none;
  font-family: "Poppins", serif;
  font-weight: 400;
  font-size: 30px;
  color: #374375;
  display: block;
  transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
  text-decoration: underline;
  color: #780000;
}

/************* slideshow forside ************/
.hero-pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/********* styling af baggrundsbilledet ****/
.hero {
  position: relative;
  max-width: 100%;
  height: 750px;
  overflow: hidden;
  background-image: url("billeder/baggrund.webp");
  background-size: cover;
  background-position: center;
  z-index: 1;
  margin-top: 55px;
}

.slideshow {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  animation: slideInfinite 23s linear infinite;
  z-index: 2;
  gap: 10%;
  width: 70%;
}

.mySlides {
  flex: 0 0 80%;
  height: auto;
}

/******* Animation til slideshow ****/
@keyframes slideInfinite {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-300%);
  }
}

/*********** Container til nav links ***********/
.nav-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  background-color: #e8e8d7;
  margin-bottom: 20px;
}

.nav-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #e8e8d7;
  border: 1px solid #374375;
  width: 100%;
  margin-bottom: 20px;
}

/************ H1 overskrift til forside ********/
.hero-title {
  color: #374375;
  font-family: "Playfair Display", serif;
  margin-top: 20px;
  font-size: 12px;
  font-style: italic;
  text-align: center;
}

.hero-title a {
  text-decoration: none;
  color: inherit;
  display: block;
  cursor: pointer;
}

.hero-title:hover {
  color: #9099bc;
}

/********** intro tekstboks på forside *********/
.intro-section {
  background-color: #374375;
  color: #e8e8d7;
  padding: 30px;
  text-align: center;
  margin: 20px auto;
  max-width: 90%;
  font-family: "Poppins", serif;
  font-weight: 200;
  font-style: italic;
  font-size: 20px;
}

/*********** Knap til nav section *******/
.read-more {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  color: #e8e8d7;
  width: 100%;
  height: 100px;
  background-size: cover;
  background-position: center;
  text-decoration: none;
  font-size: 22px;
}

.read-more1 {
  border: none;
  cursor: pointer;
  color: #e8e8d7;
  width: 100%;
  height: 100px;
  background-position: center;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 22px;
}

.nav-section:hover {
  background-color: #9099bc;
}
.read-more:hover,
.read-more1:hover {
  text-decoration: underline;
}

/******* tekst til nav links sektion ************/
.nav-section h2 {
  font-family: "Playfair Display", serif;
  font-size: 25px;
  color: #374375;
  margin-top: 80%;
  align-self: flex-start;
}
.nav-section h3 {
  font-family: "Playfair Display", serif;
  font-size: 120px;
  color: #374375;
  align-self: center;
}
.nav-section p {
  font-family: "Playfair Display", serif;
  font-size: 25px;
  color: #374375;
  align-self: flex-end;
  margin-bottom: 40px;
}
.nav-section h4 {
  font-family: "Playfair Display", serif;
  font-size: 35px;
  color: #374375;
  margin-top: 132%;
  align-self: center;
  margin-bottom: 115px;
}

/************ media til tekst og knap ******/
@media (max-width: 768px) {
  .nav-container {
    flex-direction: column;
  }

  .nav-section {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }

  .read-more,
  .read-more1 {
    order: 2;
    width: auto;
    padding: 10px 50px;
  }

  .nav-section h2,
  .nav-section p,
  .nav-section h4 {
    font-size: calc(12px + 2vw);
    text-align: left;
    margin: 5px 0;
  }
  .nav-section h3 {
    font-size: calc(30px + 2vw);
  }
}

/*************** footer ***********/
.footer {
  background-color: #374375;
  color: #e8e8d7;
  text-align: right;
  padding: 10px;
  font-size: 16px;
}

/************ tekst til footer **********/
.footer-text h3 {
  font-family: "Playfair Display", serif;
  margin-top: 20px;
  margin-left: 15px;
  font-size: 20px;
  font-style: italic;
  text-align: left;
  color: #e8e8d7;
}

.footer-text p {
  font-family: "Playfair Display", serif;
  font-size: 20px;
  margin-top: 10px;
  margin-left: 15px;
  margin-bottom: 10px;
  text-align: left;
  color: #9099bc;
}

/****** Social links  *****/
.social-links a {
  color: #e8e8d7;
  margin: 0 10px;
  font-size: 35px;
  margin-right: 20px;
}

.social-links a:hover {
  color: #780000;
  cursor: pointer;
}

/************** form til footer *********/
.contact-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  max-width: 100%;
  margin: 0 auto;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-row {
  display: flex;
  justify-content: space-around;
  gap: 10px;
}

input[type="text"],
button {
  width: 100%;
  padding: 8px;
  border: 2px solid #e8e8d7;
  font-size: 16px;
}

.form-text {
  padding: 8px;
  border: 2px solid #374375;
}

button {
  background: #e8e8d7;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  transition: background-color 0.3s ease;
}
button:hover {
  background-color: #780000;
}

/************ media til større skærme **********/
@media (min-width: 768px) {
  .burger {
    top: 40px;
    right: 40px;
  }

  .bar {
    width: 40px;
    height: 5px;
    margin-bottom: 9px;
  }

  .nav-container {
    flex-direction: row;
    margin-left: 20px;
    margin-right: 20px;
  }

  .nav-section {
    width: auto;
    min-width: 200px;
    padding: 40px;
  }

  .mySlides {
    flex: 0 0 70%;
  }

  .hero-title {
    font-size: 24px;
  }

  .intro-section {
    padding: 40px;
    margin: 50px auto;
    max-width: 40%;
    font-size: 20px;
  }

  .read-more,
  .read-more1 {
    height: 120px;
    min-width: 220px;
    font-size: 24px;
  }

  .contact-container {
    max-width: 800px;
  }
  .form-row {
    justify-content: space-between;
  }

  .footer-text h3,
  .footer-text p {
    font-size: 24px;
  }

  .social-links a {
    font-size: 50px;
  }
}
