/**** Generelle styles **/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  height: auto;
}

main {
  background-color: #e8e8d7;
  max-width: 100%;
  margin: auto;
  padding: 10px;
}

/****** Styling af H1 overskrift *****/
.grid-title {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-size: 24px;
  color: #374375;
  padding: 20px;
  text-align: start;
  margin-top: 40px;
  margin-left: 15px;
}

/************ grid på tema siderne *************/
.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding: 40px;
}

/****** Styling af tekst i grid *****/
.grid-text {
  padding: 20px;
  border: 1px solid #374375;
  background-color: #e8e8d7;
  margin: 5px;
  line-height: 1.8;
  font-family: "Lora", serif;
  margin-top: 20px;
}

.grid-text strong {
  color: #374375;
  font-size: 26px;
}

/************** mindre billeder og specifikke containere ******/
.small-image,
.image img,
.wide-image,
.ketchup-container,
.indhold-container {
  margin: 0;
}

.wide-image,
.ketchup-container,
.indhold-container,
.computer-image {
  grid-column: 1;
}

.ketchup-container,
.grid-text {
  margin-bottom: 20px;
}

/************ Styling af knapper i grid **********/
.grid-knap,
.custom-knap1 {
  display: block;
  width: 100%;
  padding: 60px;
  text-align: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #e8e8d7;
  background-size: cover;
  background-position: center;
  text-decoration: none;
  font-size: 18px;
  margin: 0 auto;
}

.grid-knap:hover,
.custom-knap1:hover {
  text-decoration: underline;
}

/************ styling af knap container *********/
.knap-container {
  text-align: center;
  display: flex;
  justify-items: center;
  align-items: center;
  max-width: 100%;
  margin: 20px auto;
  padding: 10px;
}

/******** Media queries for skærme bredere end 700px *****/
@media (min-width: 700px) {
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }

  .grid-title {
    font-size: 36px;
    padding: 40px;
    margin-top: 80px;
    margin-left: 15px;
  }
  .wide-image {
    grid-column: 1 / -1;
    margin: 20px 0;
  }

  .grid-text,
  .small-text,
  .small-image {
    padding: 40px;
  }
  .small-image {
    width: 100%;
  }
  .custom-knap1 {
    width: auto;
    padding: 49px 59px;
    font-size: 18px;
  }

  .ketchup-container {
    grid-column: 2;
    max-width: 60%;
    margin-left: 190px;
  }

  .indhold-container {
    width: 100%;
    grid-column: 2;
  }

  .computer-image {
    grid-column: 2;
    grid-row: 2;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
}
